# Your Screenapp authentication token
AUTHENTICATION_TOKEN=

# Your team ID from Screenapp
TEAM_ID=

# Your folder ID from Screenapp
FOLDER_ID=

# Your file path from Screenapp
FILE_PATH=/absolute/path/to/your/file.mp4 